*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: #cad2c5;
}

/* nav section start*/
.navbar {

    background-color: #354F52;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 100%;
    
}
.nav-container{
    display: flex;
    justify-content: center;
}
.nav-logo {
    width: 70px;
    height: auto;
    border-radius: 50%;
}
.navbar-nav {
    width: 100%;
    gap: 20px; 
}

.nav-link {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
}

.navbar-toggler {
    border-color: #007bff;
}

.navbar-nav .nav-link:hover {
    background-color: #007bff; 
    color: white ;
    border-radius: 12px; 
    
}
/* nav section end*/






@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-section {
    margin-top: 10%;
    padding: 40px 20px;
    max-width: 100%;
    /* margin: auto; */
    

}

.t1 {
    font-size: 3rem;
    font-weight: bolder;
    color: #52796F;
    text-align: left;
    animation: slideUp 1s ease-out forwards;
}

.edu {
    font-size: 1.4rem;
    /* color: white; */
    color: #52796F;
    text-align: justify;
    margin-top: 10px;
    animation: slideUp 1.5s ease-out forwards;
}

.details {
    max-width: 800px;
    margin: 20px auto;
    font-size: 1.1rem;
    color: #354F52;
    text-align: justify;
    line-height: 1.7;

    animation: fadeInUp 2s ease-out forwards;
}
/* .media-link{
    height: 35px;
    width: 55px;
} */


.footer-container {
    background-color: #354F52;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    margin-top: 50px;
}

.footer-container .social-links {
    margin-top: 10px;
}

.footer-container .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-container .social-links a:hover {
    color: #00aced; 
}

